
@{
    ViewBag.Title = "Articles";
    Layout = "~/Views/Shared/_LayoutArticle.cshtml";
}

<div class="parallax head-window">
    <!-- <h1><span class="ooo">ООО «Системная инженерия»</span> <br>предоставляет заказчикам комплексные решения в направлениях ориентированных на повышение ресурсоэффективности и экологической безопасности</h1> -->
    <!-- <button type="button" class="btn btn-default">Начать</button> -->
    <h2>Наши статьи</h2>
</div>

<section class="articles">
    <div class="col-md-12 article">
        <div class="col-md-1"></div>
        <div class="col-md-10 main">
            <div class="image left">
                <img src="~/Content/images/fon.jpg" width="40%" alt="">
            </div>
            <div class="content right">
                <a href="#" class="header-link"><h1>Заголовок статьи</h1></a>
                <i>2017-01-01</i>
                <p>Lorem ipsum dolor sit amet, consectetla pariatur. Exdfsg klngs dnfgksdfk gsdf;lk gskf; gk;sakf, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <a href="#" class="link">Подробнее...</a>
            </div>
            <hr>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="col-md-12 article">
        <div class="col-md-1"></div>
        <div class="col-md-10 main">
            <div class="image left">
                <img src="~/Content/images/fon.jpg" width="40%" alt="">
            </div>
            <div class="content right">
                <a href="#" class="header-link"><h1>Заголовок статьи</h1></a>
                <i>2017-01-01</i>
                <p>Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. onsectetla pariatur. Exdfsg klngs dnfgksdfk gsdf;lk gskf; gk;sakf, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <a href="#" class="link">Подробнее...</a>
            </div>
            <hr>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="col-md-12 article">
        <div class="col-md-1"></div>
        <div class="col-md-10 main">
            <div class="image left">
                <img src="~/Content/images/fon.jpg" width="40%" alt="">
            </div>
            <div class="content right">
                <a href="#" class="header-link"><h1>Заголовок статьи</h1></a>
                <i>2017-01-01</i>
                <p>Lorem ipsum dolor Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. amet, consectetla pariatur. Exdfsg klngs dnfgksdfk gsdf;lk gskf; gk;sakf, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <a href="#" class="link">Подробнее...</a>
            </div>
            <hr>
        </div>
        <div class="col-md-1"></div>
    </div>

</section>
