@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="parallax head-window">
    <h1><span class="ooo">ООО «Системная инженерия»</span> <br>предоставляет заказчикам комплексные решения в направлениях ориентированных на повышение ресурсоэффективности и экологической безопасности</h1>
    <button type="button" class="btn btn-default" id="button">Начать</button>
</div>


<section class="aboutus" id="aboutus">
    <h1>О нас</h1>
    <div class="col-md-8">
        <p>
            ООО «Системная инженерия» предоставляет заказчикам комплексные решения в направлениях ориентированных на повышение ресурсоэффективности и экологической безопасности:
            <br><br>
            - очистка сточных вод промышленных объектов;<br>
            - кавитационное интенсификация технологических процессов;<br>
            - переработка органических отходов в удобрение-рекультивант;<br>
            - промышленной автоматизации.<br><br>

            Задача ООО «Системная инженерия» – индивидуальный инженерный подход к заказчикам, с учётом потребностей и возможностей.
            <br><br>
            Часть работ могут выполнятся самими заказчиками при шеф-монтажном сопровождении ООО «Системная инженерия».
            <br>
            <br><br>
        </p>
    </div>
    <div class="col-md-4">
        <img src="~/Content/images/services.jpg" alt="" width="100%" height="100%">
        <h4><a href="#">Подробнее</a></h4>
    </div>
</section>


<section class="waterclean">
    <div class="col-md-12 body">
        <div class="img-overlay"></div>
        <h1>Системы водоочистки</h1>
        <p class="centertext">Мы делаем невероятные суперводокачки для твоей качки в зале</p>
        <div class="col-md-1"></div>
        @for (int i = 0; i < 3; i++)
        {
            <div class="col-md-3 element">
                <a href="#" style="color: black; text-decoration: none;">
                    <div class="img">
                        <img src="~/Content/images/wat_el.jpg" width="100%" alt="">
                    </div>
                    <div class="text">
                        <p>Супер-мега крутой водокачка</p>
                    </div>
                </a>
            </div>
        }
        <div class="col-md-1">
        </div>
        <div class="" style="text-align:center;">
            <button type="button" class="btn btn-default">Подробнее...</button>
        </div>
    </div>
</section>


<section class="news">
    <div class="col-md-12 body">
        <div class="img-overlay"></div>
        <a href="#"><h1>Последние статьи</h1></a>
        <p class="lefttext">Мы делаем невероятные суперводокачки для твоей качки в зале</p>
        <div class="col-md-1">

        </div>
        @for (int i = 0; i < 3; i++)
        {
            <div class="col-md-3 element">
                <div class="img">
                    <img src="~/Content/images/wat_el.jpg" width="100%" alt="">
                </div>
                <div class="text">
                    <a href="#" style="color: black;"><h3>Заголовок суперстатьи</h3></a>
                    <p>Супер-мега крутой водокачка оводокачечкие ололо молодец тако ий дальше пиши еще раз давайка ага опа жопа</p>
                    <i>2016-02-12</i>
                    <span style="margin-left: 90px;"><a href="#">Подробнее...</a></span>
                </div>
            </div>
        }
        <div class="col-md-1"></div>
    </div>
</section>


<section class="waterclean">
    <div class="col-md-12 body">
        <h1 class="aut-text">Системы атоматизации по</h1>
        <p class="centertext">Мы делаем невероятные суперводокачки для твоей качки в зале</p>
        <div class="col-md-1"></div>
        @for (int i = 0; i < 3; i++)
        {
            if (i <= 2)
            {
                <div class="col-md-3 element">
                    <a href="#" style="color: black; text-decoration: none;">
                        <div class="img">
                            <img src="~/Content/images/wat_el.jpg" width="100%" alt="">
                        </div>
                        <div class="text">
                            <p>Супер-мега крутой водокачка</p>
                        </div>
                    </a>
                </div>
            }
            else
            {
                <div class="col-md-3 element element-hide">
                    <a href="#" style="color: black; text-decoration: none;">
                        <div class="img">
                            <img src="~/Content/images/wat_el.jpg" width="100%" alt="">
                        </div>
                        <div class="text">
                            <p>H Супер-мега крутой водокачка H</p>
                        </div>
                    </a>
                </div>
            }
        }
        <div class="col-md-1">
        </div>
        <div class="" style="text-align:center;">
            <button type="button" class="btn btn-default">Подробнее...</button>
        </div>
    </div>
</section>

<section class="parthners">
    <div class="col-md-12 body">
        <h2>Наши партнеры</h2>
        <div class="col-md-1"></div>
        <div class="col-md-2 parthner">
            <div class="img">
                <a href="#"><img src="~/Content/images/wat_el.jpg" width="100%" alt=""></a>
            </div>
        </div>

        <div class="col-md-2 parthner">
            <div class="img">
                <a href="#"><img src="~/Content/images/wat_el.jpg" width="100%" alt=""></a>
            </div>
        </div>


        <div class="col-md-2 parthner">
            <div class="img">
                <a href="#"><img src="~/Content/images/wat_el.jpg" width="100%" alt=""></a>
            </div>
        </div>

        <div class="col-md-2 parthner">
            <div class="img">
                <a href="#"><img src="~/Content/images/wat_el.jpg" width="100%" alt=""></a>
            </div>
        </div>

        <div class="col-md-2 parthner">
            <div class="img">
                <a href="#"><img src="~/Content/images/wat_el.jpg" width="100%" alt=""></a>
            </div>
        </div>

        <div class="col-md-1"></div>
    </div>
</section>

<section class="feedback">
    <div class="col-md-12 body">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2>Контактная форма</h2>
            <form role="form">
                <div class="form-group">
                    <label for="name">Имя</label>
                    <input name="name" type="text" class="form-control" placeholder="Имя" required />
                    <p class="help-block">Введите Ваше имя</p>
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input name="email" type="email" class="form-control" placeholder="E-mail" required />
                    <p class="help-block">Введите Ваш электронный адресс</p>
                </div>
                <div class="form-group">
                    <label for="comment">Сообщение</label>
                    <textarea name="comment" class="form-control" placeholder="Сообщение" required></textarea>
                    <p class="help-block">Введите Ваше сообщение. В ближайшее время мы Вам ответим.</p>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-info" value="Отправить" />
                </div>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</section>




