body, html {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/*HEADER*/

.navbar {
  position: fixed;
  z-index: 20;
  top: 0px;
  left: 0px;

  width: 100%;

  border: none;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0px;
}

.mainheader {
  text-transform: uppercase;
}

.mainheader li{
  margin-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.mainheader li:last-child {
  margin-right: 30px;
}

.mainheader a{
  color: white !important;
}

/*END HEADER*/

/*footer*/
footer .body{
  width: 100%;

  background: url('../images/fon.jpg') center no-repeat;
  background-position: center;
  background-size: cover;
}

footer .body .block {
  margin-right: 60px;
  color: white;
  text-align: center;
}

@media  screen and (max-width : 720px) {

  footer .body .block {
    margin-right: 0px;
  }
}

footer .body .block p{
  font-size: 17px;
}

footer .body .bloackbl{
  background-color: rgba(0, 0, 0, 0.5);
}

footer .body .footul {
  margin-left: 25%;
}

footer .body .footul a:hover {
  background-color: inherit;
  text-decoration: underline;
}
/*end footer*/
